/* Universal Selector */
* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

/* Header Style */
header {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  border-bottom: 1px solid #eaeaea;
}

/* Logo */
.logoPage {
  width: 6rem;
  mix-blend-mode: multiply;
}

/* Navbar links */
.menuItems {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-weight: 600;
}

/* Main item */
.navItem {
  margin: 0 1rem;
  padding: 1rem;
  cursor: pointer;
  position: relative;
}

.navItem::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 100%;
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #c1262a;
  border-right: 2px solid #c1262a;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.navItem:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}